@media all and (min-width: 480px) {
    .Waybill {
      padding: 60px 0;
    }
  
    .Waybill form {
      margin: 0 auto;
      max-width: 320px;
    }
  
    .Waybill h1 {
      margin: 50px auto;
      padding: 80 px;
      max-width: 320px;
    }
    .Waybill p {
      margin: 50px auto;
      padding: 80 px;
      max-width: 320px;
    }
  
   
    .modal-container {
      /* position: relative;
      widows: 50px; */
    }
    .modal-container .modal, .modal-container .modal-backdrop {
      /* position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) !important; */
    }
  
  
    
  }