@media all and (min-width: 480px) {
    .ConfirmationPage {
      margin: 0 auto;
   
    }
    .ConfirmationPage h1 {
      margin: 50px auto;
      padding: 80 px;
      max-width: 320px;
    }
    .ConfirmationPage p {
      margin: 50px auto;
      padding: 80 px;
      max-width: 320px;
    }
  
    
  
    
  }