@media all and (min-width: 480px) {
  .Settings {
    padding: 60px 0;
  }

  .Settings form {
    margin: 0 auto;
    max-width: 320px;
  }

  .Settings h1 {
    margin: 50px auto;
    padding: 80 px;
    max-width: 320px;
  }
  .Settings p {
    margin: 50px auto;
    padding: 80 px;
    max-width: 320px;
  }

 
  .modal-container {
    position: relative;
  }
  .modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
  }


  
}